spring:
  application:
    name: customers-service
  config:
    import: optional:configserver:${CONFIG_SERVER_URL:http://localhost:8888/}
  servlet:
    multipart:
      max-file-size: 1000GB
      max-request-size: 1000GB
server:
  tomcat:
    max-http-form-post-size: 1000GB
  jetty:
    max-http-form-post-size: 1000GB
  undertow:
    max-http-post-size: 1000GB

database:
  initialize: false

---

spring:
  config:
    activate:
      on-profile: docker
    import: configserver:http://config-server:8888
  servlet:
    multipart:
      max-file-size: 0 #undefined max file size
      max-request-size: 0 #undefined max request size
server:
  tomcat:
    max-http-form-post-size: 1000GB
  jetty:
    max-http-form-post-size: 1000GB
  undertow:
    max-http-post-size: 1000GB

database:
  initialize: false

---
spring:
  config:
    activate:
      on-profile: vm
    import: configserver:http://141.22.10.81:8888

database:
  initialize: false

---
spring:
  jpa:
    properties:
      hibernate:
        show_sql: false  # Disable console logging, we'll capture it with the logger
logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE  # For binding parameters
